@model CreateAboutDto
@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="chart-box">
            <h4>Hakkımda Alanı Ekleme Sayfası</h4>
            <br />
            <div class="bs-example" data-example-id="bordered-table">

                <form method="post">
                    <label>Açıklama</label>
                    <input type="text" class="form-control" asp-for="Description" />
                    <br />
                    <label>Adres</label>
                    <input type="text" class="form-control" asp-for="Address" />
                    <br />
                    <div class="form-group">
                        <label for="exampleInputEmail2">Email</label>
                        <input type="email" class="form-control" asp-for="Email" id="exampleInputEmail2" placeholder="Mail Adresinizi Giriniz.">
                        <br />
                    </div>
                    <label>Telefon</label>
                    <input type="text" class="form-control" asp-for="Phone" />
                    <br />
                    <button class="btn btn-primary">Hakkımda Alanını Oluştur</button>
                </form>

            </div>
        </div>
    </div>
    </div>
</section>

