@model UpdateFeatureSliderDto
@{
    ViewData["Title"] = "UpdateFeatureSlider";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="chart-box">
            <h4>Öne Çıkan Slider Görseli Güncelleme Sayfası</h4>
            <br />
            <div class="bs-example" data-example-id="bordered-table">

                <form method="post">
                    <input type="hidden" class="form-control" asp-for="FeatureSliderId" />
                    <label>Görsel Başlığı</label>
                    <input type="text" class="form-control" asp-for="Title" />
                    <br />
                    <label>Açıklama</label>
                    <input type="text" class="form-control" asp-for="Description" />
                    <br />
                    <label>Fotoğraf URL</label>
                    <input type="text" class="form-control" asp-for="ImageUrl" />
                    <br />
                    <label>Durum</label>
                    <input type="checkbox" class="form-control" asp-for="Status" />
                    <br />
                    <button class="btn btn-success">Öne Çıkan Resmi Güncelle</button>
                </form>

            </div>
        </div>
    </div>
    </div>
</section>


